<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	 <typeAliases>
		<typeAlias type="kr.co.don.adminMypage.model.vo.AdminSupportApplyVO" alias="adminSupportapply"/>
		<typeAlias type="kr.co.don.adminMypage.model.vo.AdminDeadLineSupportVO" alias="adminDeadSupport"/>
		<typeAlias type="kr.co.don.adminMypage.model.vo.AdminRequestBoardVO" alias="adminRequestBoard"/>
		<typeAlias type="kr.co.don.adminMypage.model.vo.AdminMemberVO" alias="adminMember"/>
		<typeAlias type="kr.co.don.adminMypage.model.vo.AdminRegularInVO" alias="adminRegularIn"/>
		<typeAlias type="kr.co.don.donation.model.vo.DonationVo" alias="donation"/>
		<typeAlias type="kr.co.don.support.model.vo.Support" alias="support"/>
		<typeAlias type="kr.co.don.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.co.don.vwork.model.vo.VworkVo" alias="vwork"/>


	</typeAliases>

</configuration>
