@charset "UTF-8";

.content {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 100px;
}

.dnrwTitle {
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    font-size: 37px;
    color: #3D3B3A;
    font-weight: bold;
    line-height: 100px;
}

.dnrwpage {
    width: 70%;
    border: 2px solid #e3f0f6;
    margin: 0 auto;
    margin-top: -15px;
}

.inputTable {
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;

}

form {
    width: 100%;
}

.dnrTable {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

.ipName {
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    font-weight: 600;
    font-size: 12.5px;
    width: 10%;
    height: 40px;
}

.ipFrame {
    width: 40%;
    height: 40px;
}

.ipFrame > input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}


.ipImg {
    width: 80%;
    height: 40px;
}


.ipImg > input {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
}

.ipImg > span {
    width: 5%;
    height: 100%;

}

.ipImg button {
    width: 14.4%;
    height: 100%;
    background-color: rgba(94, 94, 94);
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    outline: none;
}



.ipFiles {
    width: 90%;
    height: 60px;
}

.iconfile {
    color: #fff;
    font-size: 30px;
}

.ipFiles > input {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
}
.ipFiles button {
    width: 14.4%;
    height: 100%;
    background-color: rgba(94, 94, 94);
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    outline: none;

}
.dnbill_table>button{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    background-color: #e3f0f6;
    border: none;
    outline: none;
    cursor: pointer;
}
.iconplus{
    font-size: 20px;
}
.dnbWrap{
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
}
.dnbWrap>table{
    width: 100%;
    border-collapse: collapse;
}
.dnbWrap tr{
    height: 30px;
}
.dnbWrap th{
    background-color: #e3f0f6;
}
.bName>input{
    border: none;
    width: 95%;
    text-align: center;
    outline: none;
}
.bContent>input{
    border: none;
    outline: none;
    width: 95%;
    text-align: center;
}
.bMoney>input{
    border: none;
    outline: none;
    width: 95%;
    text-align: center;
}
.applyBtn {
    width: 100%;
    height: 50px;
}

.applyBtn > button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0fbcff;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}