@charset "UTF-8";

.content {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 100px;
}

.reviewTitle {
    margin: 0 auto;
    margin-top: 60px;
    width: 85%;
    height: 80px;


}

.sprtText {
    width: 25%;
    height: 80px;
    font-size: 43px;
    color: #3D3B3A;
    font-weight: bold;
    line-height: 80px;
}

.searchBox {
    margin-top: 15px;
    margin-right: 100px;
    width: 62%;
    height: 55px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 30px;
    line-height: 55px;
    float: right;
}

.sText {
    margin-left: 20px;
}

.sText > input {
    margin-top: 12px;
    width: 50%;
    height: 34px;
    font-size: 25px;
    background-color: transparent;
    color: rgba(0, 0, 0, .2);
    font-weight: 600;
    border: 0 none;
}

input::placeholder {
    color: rgba(0, 0, 0, .2);
    font-weight: 600;
}

.icon {
    float: right;
}

.icon > button {
    width: 50px;
    height: 40px;
    margin-right: 20px;
    margin-top: 7px;
    background-color: transparent;
    border: 0 none;
}

.iconsearch {
    font-size: 30px;
}

.sprNavi {
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    height: 50px;
    background-color: #0fbcff;
}

.sprNavi > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sprNavi li {
    float: left;
}

.sprNavi li > a {
    font-weight: 900;
    font-size: 20px;
    color: white;
    width: 340px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid white;
    display: block;
    text-decoration: none;
    text-align: center;
}

.sprlistWrap {
    width: 85%;
    margin: 0 auto;
}

.sprlisthead {
    width: 100%;
    height: 60px;


}

.sprWriteBtn {
     float: right;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: -20px;
    width: 120px;
    height: 40px;
    background-color: #ffc952;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}



.spreviewWrap {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}

.spreviewList {
   border-collapse: separate;
    border-spacing: 12px;
    height: 350px;
}
.spreviewList a {
    text-decoration: none;
    color: #3D3B3A;
}


.spreviewBox {
    margin: 0 auto;
    width: 230px;
    height: 320px;
    box-sizing: border-box;
}
td{
    width: 234px;
    height: 322px;
}

.sprimg {
    width: 100%;
    height: 180px;
    box-sizing: border-box;

}

.sprimg > img {
    width: 100%;
    height: 100%;
}

.sprText {
    width: 100%;
    height: 74px;
    margin-top: 15px;
}

.sprTitle {
    display: block;
    font-size: 18px;
    letter-spacing: -.8px;
    font-weight: bold;
    color: #3D3B3A;
}

.sprLine {
    width: 98.5%;
    height: 5px;
    margin-top: 20px;
    border: 1px solid #0fbcff;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
