@charset "UTF-8";

.content {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;

}

.headarea {
    width: 100%;
    height: 500px;
    position: relative;
}

.frontimg {
    width: 100%;
    height: 500px;
    position: absolute;
}

.frontimg > img {
    width: 100%;
    height: 100%;

}

.bgfilter {
    width: 100%;
    height: 500px;
    background-color: #333030;
    position: absolute;
    overflow: hidden;
    opacity: 0.5;
}

.textwrap {
    width: 1000px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    top: 200px;
    left: 130px;
    position: absolute;
}

.textwrap > span {
    text-align: center;
    display: block;
}

#sprTitle {
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
}

#sprFoundation {
    font-size: 25px;
    font-weight: bold;
    color: lightgrey;
}

.sprviewWrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}
.sprContent{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid darkgray;
    margin-bottom: 30px;
}
.imgwrap{
    width: 70%;
    height: 450px;
    margin: 0 auto;
    
}
.carousel-item > img {
    width: 100%;
    height: 450px;
    
}

.foundationBox{
    
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-top: 70px;
    border: 2px solid darkgray;
    border-right: none;
    border-left: none;
    line-height: 150px;
}
#foundationName{
    font-size: 20px;
    font-weight: bold;
    margin-left: 7px;
}
#foundationH{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}
#foundationH>a{
    text-decoration: none;
    font-weight: 500;
    color:#3D3B3A;
}
#writeDate{
    float: right;
    font-size: 15px;
    margin-right: 10px;
}

.cwriteBox{
    width: 70%;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
}
.cmtFrm{
    width: 100%;
}
.cmtWrap{
    width: 95%;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 10px;
}
#sprCmt{
    width: 95%;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    resize: none;
    background-color: rgba(0,0,0,.0);
    border: none;
}
.textLimit{
    margin-left: 690px;
    margin-top: 7px;
    padding-top: 10px;
}
#nowTxt{
    color: #0fbcff;
}
.cmtBtn{
    float: right;
    width: 65px;
    height: 35px;
    border-radius: 25px;
    background-color: #e3f0f6;
    border: none;
    font-size: 17px;
    font-weight: 900;
    margin-right: 25px;
    margin-top: -4px;
}
.cmtsWrap{
    width: 70%;
    margin: 0 auto;
    border: 2px solid darkgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.cmtsHead{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    line-height: 40px;
}
.cmtsHead>span{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}
#cmtCnt{
    color: #0fbcff;
}
.cmtsBox{
    margin-top: 20px;
    width: 100%;
   
}
#cmtwriter{
    font-weight: 900;
    font-size: 18px;
    margin-left: 25px;
}
#cmtsdetail{
    width: 95%;
    height: 90px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 7px;
    
}
#cmtsdetail>input{
    width: 95%;
    height: 35px;
    margin-top: 20px;
    font-size: 16px;
    background-color: rgba(0,0,0,.0);
    border: none;
    
}

#cmtswDate{
    font-size: 17px;
    margin-left: 25px;
}

#cmtsLike{
    float: right;
    margin-right: 27px;
    text-decoration: none;
    font-size: 20px;
    color: #3D3B3A;
    margin-top: -2px;
}

#cmtsLike>i{
    margin-right: 5px;
}