@charset "UTF-8";

.content {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.paymentTitle {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    height: 100px;
    font-size: 20px;
    color: rgba(0, 0, 0, .3);
    font-weight: 600;
    line-height: 120px;
    letter-spacing: -1px;
}
.paymentTitle > span {
    color: #3D3B3A;
    font-weight: bold;
}